/* Стиль для затемненного фона */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Стиль для модального окна */
.modal {
  background-color: white;
  padding: 20px;
  width: auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  position: relative;
  animation: modal-fade-in 0.3s ease-in-out;
}

/* Кнопка закрытия */
.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Стиль для контента внутри модального окна */
.modal_content {
  margin-top: 10px;
  display: grid;
  align-items: center;
  justify-content: center;
}

/* Анимация появления окна */
@keyframes modal-fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* button.login:hover {
  background-color: rgb(201, 201, 255);
} */
