h1{
    font-size:large; 
}
h3{
    font-size: medium;
    margin-top: 1%;
}
.ProjectName{
    font-family:Arial, Helvetica, sans-serif;
    display: flexbox;
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 2px;
    background-color: rgb(240,240,240);
    margin: 10px;
    padding: 10px;
}
.TaskPage{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(255,255,255); 
    /* border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px; */
    height: initial;  
    /* overflow: scroll; */
}
.TaskItem{
    display: flexbox;
    /* flex-direction: column; */
    
    background-color: rgb(240,240,240); 
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    margin: 10px;  
    margin-left: 40px;
    padding: 10px; 
}

.task {
    padding: 10px;
}
.Select{
    display: flexbox;
    margin-left: auto;
    float: right;
}